<div
  class="
    d-flex
    align-items-center
    justify-content-between
    p-3
    my-3
    text-white
    rounded
    shadow-sm
  "
  [style.background]="fundoPreto"
>
  <div class="d-flex align-items-center mr-auto justify-content-end">
    <i class="{{ iconeClasse }}" style="margin-right: 5px;"></i>
    <div class="lh-100">
      <h4 class="mb-0">{{ titulo }}</h4>
      <small>{{ subtitulo }}</small>
    </div>
  </div>
  <div class="p-3" *ngIf="mostrarBotao">
    <button
      type="button"
      class="btn btn-light"
      style="color: black; font-size: 15px; font-weight: bold"
      (click)="listar()"
    >
      <i class="{{ mostrarLista ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
      {{ mostrarLista ? "Listar" : "ocultar" }}
    </button>
  </div>
</div>
