<form [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Nome</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        formControlName="nomeTenis"
        placeholder="Nome do tênis"
        [ngClass]="{ 'is-invalid': fb.nomeTenis.errors && fb.nomeTenis.touched }"
      />
      <div *ngIf="fb.nomeTenis.errors?.required" class="invalid-feedback">
        Nome é obrigatório
      </div>
      <div *ngIf="fb.nomeTenis.errors?.minlength" class="invalid-feedback">
        Minimo de 4 caracteres
      </div>
      <div *ngIf="fb.nomeTenis.errors?.maxlength" class="invalid-feedback">
        Máximo de 20 caracteres
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Marca</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        placeholder="Marca do tênis"
        formControlName="marca"
        [ngClass]="{ 'is-invalid': fb.marca.errors && fb.marca.touched }"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Tamanho</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        placeholder="Tamanho do tênis"
        formControlName="tamanho"
        [ngClass]="{ 'is-invalid': fb.tamanho.errors && fb.tamanho.touched }"
      />
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress">Quantidade</label>
    <input
      type="number"
      class="form-control"
      id="inputAddress"
      formControlName="qtdTenis"
      placeholder="Digite uma quantidade"
      [ngClass]="{
        'is-invalid': fb.qtdTenis.errors && fb.qtdTenis.touched
      }"
    />
    <div *ngIf="fb.qtdTenis.errors?.required" class="invalid-feedback">
      Quantidade é obrigatória
    </div>
    <div *ngIf="fb.qtdTenis.errors?.minlength" class="invalid-feedback">
      Minimo de 1 caracter é obrigatório
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress">imagem</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Imagem"
      formControlName="imagemURL"
    />
  </div>
  <hr />
  <div class="justify-content-around">
    <button
      type="submit"
      class="btn"
      style="background: red; color: white; margin-right: 5px"
      (click)="cancelarForm()"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="btn"
      style="background: black; color: white"
      [disabled]="!form.valid"
      (click)="salvarAlteracao()"
    >
      Atualizar tênis
    </button>
  </div>
</form>
