<form [formGroup]="form">
  <div class="form-row">
    <div class="card-position" *ngIf="tenis.tenisID">
      <div class="card">
        <img
          src="../../../../assets/logoLogin.jpg"
          alt="Cover"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <img
            [src]="imagemURL"
            style="width: 100px; margin-top: -65px"
            alt="User"
            class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
          />
          <h5 class="card-title">#{{tenis.tenisID}}
            <br>
            {{ tenis.nomeTenis }}</h5>
          <p class="text-secondary mb-1">{{ tenis.marca }}</p>
          <p class="text-muted font-size-sm">Quantidade : {{ tenis.qtdTenis }}</p>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Nome</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        formControlName="nomeTenis"
        placeholder="Nome do tênis"
        [ngClass]="{ 'is-invalid': fb.nomeTenis.errors && fb.nomeTenis.touched }"
        [(ngModel)]="tenis.nomeTenis"
      />
      <div *ngIf="fb.nomeTenis.errors?.required" class="invalid-feedback">
        Nome é obrigatório
      </div>
      <div *ngIf="fb.nomeTenis.errors?.minlength" class="invalid-feedback">
        Minimo de 4 caracteres
      </div>
      <div *ngIf="fb.nomeTenis.errors?.maxlength" class="invalid-feedback">
        Máximo de 20 caracteres
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Marca</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        placeholder="Marca do tênis"
        formControlName="marca"
        [ngClass]="{ 'is-invalid': fb.marca.errors && fb.marca.touched }"
        [(ngModel)]="tenis.marca"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Tamanho</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        placeholder="Tamanho do tênis"
        formControlName="tamanho"
        [ngClass]="{ 'is-invalid': fb.tamanho.errors && fb.tamanho.touched }"
        [(ngModel)]="tenis.tamanho"
      />
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress">Quantidade</label>
    <input
      type="number"
      class="form-control"
      id="inputAddress"
      formControlName="qtdTenis"
      placeholder="Digite uma quantidade"
      [ngClass]="{
        'is-invalid': fb.qtdTenis.errors && fb.qtdTenis.touched
      }"
      [(ngModel)]="tenis.qtdTenis"
    />
    <div *ngIf="fb.qtdTenis.errors?.required" class="invalid-feedback">
      Quantidade é obrigatória
    </div>
    <div *ngIf="fb.qtdTenis.errors?.minlength" class="invalid-feedback">
      Minimo de 1 caracter é obrigatório
    </div>
  </div>
  <div class="form-group col-md-4" *ngIf="tenis.tenisID">
    <label for="inputAddress">imagem</label>
    <input
    type="file"
    class="form-control-file"
    id="exampleFormControlFile1"
    #file
    (change)="mudarImagem($event)"
  />
  </div>
  <hr />
  <div class="justify-content-around">
    <button
    *ngIf="tenis.tenisID"
      type="submit"
      class="btn"
      style="background: red; color: white; margin-right: 5px"
      (click)="cancelarForm()"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="btn"
      style="background: black; color: white"
      [disabled]="!form.valid"
      (click)="salvarAlteracao()"
    >
      Salvar
    </button>
  </div>
</form>
