<div class="container" *ngIf="tenis && tenis.length">
  <div class="input-group mb-3">
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Buscar</label>
      <input
        type="text"
        class="form-control"
        id="inputPassword2"
        placeholder="Buscar"
        [(ngModel)]="filtroLista"
      />
    </div>
    <button
      type="submit"
      class="btn mb-2"
      id="botaoBuscar"
      style="background: black; color: white"
      (click)="Buscar()"
    >
      Buscar
    </button>
  </div>
  <div class="main-body card">
    <div
      class="
        row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4
        gutters-sm
      "
    >
      <div class="col mb-3" *ngFor="let tenis of tenisFiltrados">
        <div class="card">
          <img
            src="../../../../assets/logoLogin.jpg"
            alt="Cover"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <img
              [src]=" mostraImagem(tenis.imagemURL)"
              style="width: 100px; margin-top: -65px"
              alt="User"
              class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
            />
            <h5 class="card-title">{{tenis.tenisID}}
              <br>
              {{ tenis.nomeTenis }}</h5>
            <p class="text-secondary mb-1">{{ tenis.marca }}</p>
            <p class="text-muted font-size-sm">{{ tenis.tamanho }}</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-sm" tooltip="editar" (click)="detalheID(tenis.tenisID)">
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-sm"
              tooltip="excluir"
              (click)="openModal(template, tenis.tenisID)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja mesmo excluir?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
