<div class="container">
  <div class="main-body">
    <div
      class="
        row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4
        gutters-sm
      "
    >
      <div class="col mb-3">
        <div class="card">
          <img
            src="../../../../assets/logoLogin.jpg"
            alt="Cover"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <img
              src="../../../../assets/IconLessa.jpg"
              style="width: 100px; margin-top: -65px"
              alt="User"
              class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
            />
            <h5 class="card-title">Thais Lessa</h5>
            <p class="text-secondary mb-1">Administradora</p>
            <p class="text-muted font-size-sm">Balão</p>
          </div>
          <div class="card-footer">
            <button
            type="button"
            class="btn btn-sm"
            tooltip="editar"

          >
            <i class="fa fa-edit"></i>
            </button>
            <button
            type="button"
            class="btn btn-sm"
            tooltip="excluir"

          >
            <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
