<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="../../../../assets/logoLogin.jpg" alt="" />
      <h3>Bem-vindo</h3>
      <p>Registre-se e faça parte da familia LessaShoes</p>
      <p>Já tem cadastro? Faça o login</p>
      <input
        type="submit"
        name=""
        value="Login"
        routerLink="/user/login"
      /><br />
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <h3 class="register-heading">Campos de registro</h3>
            <form [formGroup]="form">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nome completo *"
                    value=""
                    formControlName="NomeCompleto"
                    [ngClass]="cssValidador(fb.NomeCompleto)"
                  />
                  <div *ngIf="fb.NomeCompleto.errors?.required" class="invalid-feedback">
                    Nome é obrigatório
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nome de usuário *"
                    value=""
                    formControlName="UserName"
                    [ngClass]="cssValidador(fb.UserName)"
                  />
                  <div *ngIf="fb.UserName.errors?.required" class="invalid-feedback">
                    Nome de usuário é obrigatório
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Senha *"
                    value=""
                    formControlName="Password"
                    [ngClass]="cssValidador(fb.Password)"
                  />
                  <div *ngIf="fb.Password.errors?.required" class="invalid-feedback">
                    Senha é obrigatória.
                  </div><div *ngIf="fb.Password.errors?.minlength" class="invalid-feedback">
                    Senha deve ter no minimo 8 caracteres.
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirmar senha *"
                    value=""
                    formControlName="ConfirmPassword"
                    [ngClass]="cssValidador(fb.ConfirmPassword)"
                  />
                  <div *ngIf="fb.ConfirmPassword.errors?.required" class="invalid-feedback">
                    Confirme sua senha
                  </div>
                  <div *ngIf="fb.ConfirmPassword.errors?.mustMatch" class="invalid-feedback">
                    Senhas devem conferir
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Seu e-mail *"
                    value=""
                    formControlName="Email"
                    [ngClass]="cssValidador(fb.Email)"
                  />
                  <div *ngIf="fb.Email.errors?.required" class="invalid-feedback">
                    E-mail é obrigatório
                  </div>
                  <div *ngIf="fb.Email.errors?.Email" class="invalid-feedback">
                    Digite um e-mail válido
                  </div>
                </div>
                <div *ngIf="fb.Email.errors?.maxlength" class="invalid-feedback">
                  Digite um e-mail válido
                </div>
              <input type="submit" class="btnRegister" value="Registrar" (click)="cadastrarUsuario()">
              </div>
            </div>
          </form>
          </div>
          <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      </div>
    </div>
  </div>
</div>
